{% extends 'admin_base.html.twig' %}

{% block title %}AppelProjet{% endblock %}

{% block body %}
    <h2>AppelProjet</h2>

    <table class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info" style="width: 100%;">
        <tbody>
            {# <tr>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 145.2px;" aria-label="Nom du projet: activate to sort column ascending">Id</th>
                <td>{{ appel_projet.id }}</td>
            </tr> #}
            <tr>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 145.2px;" aria-label="Nom du projet: activate to sort column ascending">Titre</th>
                <td>{{ appel_projet.title }}</td>
            </tr>
            <tr>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 145.2px;" aria-label="Nom du projet: activate to sort column ascending">Description</th>
                <td>{{ appel_projet.description }}</td>
            </tr>
            <tr>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 145.2px;" aria-label="Nom du projet: activate to sort column ascending">Date de lancement</th>
                <td>{{ appel_projet.startDate ? appel_projet.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 145.2px;" aria-label="Nom du projet: activate to sort column ascending">Date de cloture</th>
                <td>{{ appel_projet.endDate ? appel_projet.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appel_projet_index') }}" class="btn  btn-primary">Retour à la liste</a>

    <a href="{{ path('appel_projet_edit', {'id': appel_projet.id}) }}" class="btn  btn-primary">Modifier l'appel à projet</a>

    {{ include('admin/appel_projet/_delete_form.html.twig') }}
{% endblock %}
