{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %} #}
{% endblock %}

{% block section %}
    <div class="block-inner"
			style="background-image:url('images/banner-bg.png'); background-attachment: fixed;">
			<!-- block wrapper start-->
			<section class="block-wrapper block-wrapper-1 pt-50">
				<div class="container">
					<div class="row post-overflow-style">

						<div class="col-lg-8">
							<h3 class="lg">A PROPOS AZOBE</h3>
							<hr class="divider" style="background:#fecf3c; width: 15%; float: left;">
						</div>

						<div class="col-lg-10 mx-auto" style="margin-top:-4%">
							<!-- ts title item end-->
							<div class="owl-carousel" id="post-slider1">
								<div class="row">
									<div class="col-lg-4">
										<div class="ts-post-thumb">
											<a href="#">
												<img class="img-fluid" src="{{asset('images/about_3.JPG')}}" style="margin-top:49px" alt="Les locaux azobe"
													height="450">
											</a>
										</div>
									</div>
									<!-- col end-->
									<div class="col-lg-8">
										<div class="post-content post-content-item">
											<h4 class="post-title large" style="color:#f94340; font-weight: 1000;">Qui
												sommes nous ?</h4>
											<p>
												<span class="mt-0"
													style="color:#f94340; font-weight: 1000;"></span>Azobe</span> est un
												centre de recherche gabonais crée en 2019, axé sur des Appels à projets
												et cofinancé par la
												Délégation de l’Union Européenne pour le Gabon, l’Ambassade de France au
												Gabon,l’Institut Français du Gabon.
												Celui-ci a pour objectif, d’informer, connecter plusieurs acteurs
												entre eux, d’offrir des ressources puis de créer et favoriser l’accès
												aux opportunités.
											</p>

											<p>
												Azobe est un projet qui a été réaliser par les apprenants de l'école 241
												Ce site web pour Secret Spices est notre première expérience dans le
												business de l’agro alimentaire.
												Et parce qu’il y avait un réel défi, nous nous en sommes délectés.
											</p>
										</div>
									</div>
								</div>
								<!-- row end-->
								<div class="row">
									<div class="col-lg-4">
										<div class="ts-post-thumb">
											<img class="img-fluid" src="{{asset('images/about_7.jpg')}}" style="margin-top:49px" alt="L'arbre azobe">
											</a>
										</div>
									</div>
									<!-- col end-->
									<div class="col-lg-8">
										<div class="post-content post-content-item">
											<h4 class="post-title large" style="color:#f94340; font-weight: 1000;">
												Pourquoi Azobe ?</h4>
											<p>
												L’azobé est un arbre exceptionnel qui renvoie exactement aux différents
												objectifs recherchÉs par la plateforme collaborative demandée.
												En effet, il est définie comme un pionnier, c’est-à-dire qu’il est le
												premier à pousser sur des terrains à découvert.
												Il est peu exigeant quant au sol et adore la lumière.
											</p>
											<p>
												Il possède de nombreuses vertus dont:
											<ul>
												<li>Amandes = huile alimentaire;</li>
												<li>Feuillets = fabrication de savon;</li>
												<li>Feuilles = Traitement de problèmes respiratoires etc.</li>
											</ul>
											</p>
										</div>
									</div>
								</div>
								<!-- row end-->
							</div>
						</div>
						<!-- col end-->
					</div>
					<!-- row end-->
				</div>
				<!-- container end-->
			</section>
			<!-- block wrapper end-->
		</div>
		<!-- About part end-->

		<!-- single post_Nos missions start -->
		<section class="block-wrapper mt-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="ts-grid-box clearfix ts-category-title">
							<h3 class="ts-title float-left text-uppercase">NOS MISSIONS</h3>
						</div>

					</div>
					<div class="col-lg-12">
						<div class="row">

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

								<div class="box-part text-center">
									<img src="{{asset('images/about12.png')}}" alt="" class="img-fluid" width="150">

									<div class="text">
										<span>
											Inciter les acteurs de la société civile à entreprendre en finançant des
											appels à projets</span>
									</div>

								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

								<div class="box-part text-center">

									<img src="{{asset('images/about8.png')}}" alt="" class="img-fluid" width="150">

									<div class="text">
										<span>
											Réaliser les études de terrain pour une meilleure connaissances de acteurs de
											la société civile
										</span>
									</div>

								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

								<div class="box-part text-center">

									<img src="{{asset('images/about11.png')}}" alt="" class="img-fluid" width="150">

									<div class="text">
										<span>
											Valoriser les acteurs de la société civile du gabon à travers une
											plateforme.
										</span>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- row end-->
			</div>
			<!-- container end-->
		</section>
		<!-- single post_Nos missions end-->

		<!-- single post start -->
		<section class="single-post-wrapper post-layout-10 ts-blue-light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="ts-grid-box clearfix ts-category-title">
							<h3 class="ts-title float-left text-uppercase">Nos trois axes prioritaires</h3>
						</div>

					</div>
				</div>
			</div>
			<!-- container-->
		</section>
		<!-- single post end-->

		<!-- single post start -->
		<section class="post-layout-10 ts-blue-light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="ts-overlay-style overlay-heighlight-black">
							<div class="item">
								<div class="ts-post-thumb">
									<a href="#">
										<img class="img-fluid" src="{{asset('images/ev20.jpg')}}" alt="">
									</a>
									<a href="#" class="ts-video-icon"></a>
								</div>
								<div class="overlay-post-content">
									<div class="post-content links ">
										<a class="btn btn-primary" href="numerique.html"> Secteur Du Numérique</a>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>

						<!--ts-overlay-style end -->
					</div>
					<!-- col end-->
					<div class="col-lg-4">
						<div class="ts-overlay-style overlay-heighlight-black">
							<div class="item">
								<div class="ts-post-thumb">
									<a href="#">
										<img class="img-fluid" src="{{asset('images/durable7.jpg')}}" alt="">
									</a>
									<a href="#" class="ts-video-icon"></a>
								</div>
								<div class="overlay-post-content">
									<div class="post-content  links ">
										<a class="btn btn-primary" href="durable.html">Secteur Du Développement
											durable</a>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!--ts-overlay-style end -->
					</div>
					<!-- col end-->
					<div class="col-lg-4">
						<div class="ts-overlay-style overlay-heighlight-black">
							<div class="item">
								<div class="ts-post-thumb">
									<a href="#">
										<img class="img-fluid" src="{{asset('images/artisanat2.jpg')}}" alt="">
									</a>
									<a href="#" class="ts-video-icon"></a>
								</div>
								<div class="overlay-post-content">
									<div class="post-content links ">
										<a class="btn btn-primary" href="durable.html">Sercteur de l'artisanat</a>
									</div>
								</div>
							</div>
							<!-- end item-->
						</div>
						<!--ts-overlay-style end -->
					</div>
					<!-- col end-->
				</div>
			</div>
			<!-- container-->
		</section>
		<!-- single post end-->

		<!-- Background-image_group part start-->
		<section class="single-post-wrapper post-layout-6">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<h3 class="lg">NOUS SOMMES AZOBE </h3>
						<hr class="divider" style="background:#fecf3c; width: 20%; float: left;">
					</div>
					<!-- le bloc_title -->
				</div>
				<!-- row end-->
				<div class="row">
					<div class="col-lg-12">
						<div class="single-big-img mb-30" style="background-image: url(images/about_2.JPG);">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<div class="ts-grid-box content-wrapper single-post">
							<div class="post-content-area">
								<div class="entry-content pt-4">
									<p>
										Jeunes mais dynamiques, 
										nous sommes conscients que le monde peut être meilleurs avec des toutes petites actions cumulées au quotidien !
										 Nous espérons le faire tous ensemble
									</p>
									<blockquote><em>Ensemble , on est grand!</em><cite>L'Équipe AZOBE</cite>
									</blockquote>
								</div>
							</div>
						</div>

						<!-- <div class="arrowdown text-center"></div> -->
					</div>
					<!-- col end -->
					<div class="col-lg-3">
						<div class="widgets widgets-item single-post">
							<h3 class="h5 text-danger">
								<span>Nos coordonnées</span>
							</h3>
							<div class="box">
								<div class="box-text">
									<p>409, Boulevard Triomphal - <br> BP 2125 - Libreville<br class="manualbr">Tél.
										(+241) 11 79 70 00 <br class="manualbr">
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- right sidebar end-->
				</div>
				<!-- row end-->
			</div>
			<!-- container-->
		</section>
		<!-- Background-image_group end-->

		<!-- profil_group end-->
		<section class="container">
			<div class="row">
				<div class="col-lg-8">
					<h3 class="md">NOTRE ÉQUIPE</h3>
					<hr class="divider" style="background:#fecf3c; width: 20%; float: left;">
				</div>
			</div>
			<div class="row active-with-click">
				<div class="center">

				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Aurelie DANIELI</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Attachée de Coopération
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="{{asset('images/equipe_6.JPG')}}">
							</div>
							<div class="mc-description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. ...
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Qui suis-je ?</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Chef de projet
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="images/equipe_1.jpg">
							</div>
							<div class="mc-description">
								J'attends toujours d'être recruté.
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Linda MACKAYAT</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Responsable Administratif et Financier
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="images/equip_1.JPG">
							</div>
							<div class="mc-description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. ...
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>
			</div>

			<div class="row active-with-click">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Cassandra NTOUTOUME-EMANE</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Chargée d'Études
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="images/equip_2.JPG">
							</div>
							<div class="mc-description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. ...
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Axel R MOUWENDZI L</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Développeur
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="images/equip_3.JPG">
							</div>
							<div class="mc-description">
								Hello, souriant, je suis quelqu'un de très rigoureux en terme de résultat et j'apprécie le code sur Linux.
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<article class="material-card Red">
						<h2>
							<span>Feur A MOUKOGHA P</span>
							<strong>
								<i class="fa fa-fw fa-magic"></i>
								Reférente Digital
							</strong>
						</h2>
						<div class="mc-content">
							<div class="img-container">
								<img class="img-responsive" src="images/equip_4.JPG">
							</div>
							<div class="mc-description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. ...
							</div>
						</div>
						<a class="mc-btn-action">
							<i class="fa fa-bars"></i>
						</a>
						<div class="mc-footer">
							<h4>
								Social
							</h4>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-facebook"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-twitter"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-linkedin"></a>
							<a target=_parent href="https://www.wpdownloadmanager.com/"
								class="fa fa-fw fa-google-plus"></a>
						</div>
					</article>
				</div>
			</div>
		</section>
		<!-- profil_group end-->
{% endblock %}