<!Doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% block meta %}{% endblock %}
   <title>{% block title %}Azobe-Administration{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" href="{{asset('demo-files/demo.css')}}">
  <link rel="stylesheet" href="{{asset('pe/assets/Pe-icon-7-stroke.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{asset('fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/dropright.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/master.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/main.cba69814a806ecc7945a.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/master.css')}}">
  <link rel="stylesheet" href="{{asset('fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="{{asset('admin-css/summernote-lite.css')}}">
  
  
  

  {% block stylesheets %}{% endblock %}
</head>
{% block head %}{% endblock %}

<body>
  
   {% block body %}
    
   
   {% endblock %}

   {% block popup %}
     
   {% endblock %}

   {% block javascripts %}
    <script type="text/javascript" src="{{asset('admin-scripts/main.cba69814a806ecc7945a.js')}}"></script>
    <script src="{{asset('admin-scripts/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{asset('admin-scripts/summernote-lite.js')}}"></script>
   {% endblock %}
</body>
</html>