{% extends 'base.html.twig' %}

{% block title %}AppelProjet index{% endblock %}

{% block body %}
    <h1>AppelProjet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Secteur</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appel_projet in appel_projets %}
            <tr>
                <td>{{ appel_projet.id }}</td>
                <td>{{ appel_projet.title }}</td>
                <td>{{ appel_projet.description }}</td>
                <td>{{ appel_projet.secteur.nom }}</td>
                <td>{{ appel_projet.startDate ? appel_projet.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appel_projet.endDate ? appel_projet.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('appel_projet_show', {'id': appel_projet.id}) }}">show</a>
                    <a href="{{ path('appel_projet_edit', {'id': appel_projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appel_projet_new') }}">Create new</a>
{% endblock %}
