{% extends 'admin_base.html.twig' %}

{% block title %}AlaUne{% endblock %}

{% block body %}
    <h1>AlaUne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ala_une.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ala_une.title }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ ala_une.auteur }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ala_une.createdAt ? ala_une.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ala_une_index') }}">back to list</a>

    <a href="{{ path('ala_une_edit', {'id': ala_une.id}) }}">edit</a>

    {{ include('ala_une/_delete_form.html.twig') }}
{% endblock %}
